<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Go-GoBuster</title>
</head>
<body>
<main>
    <div class="container">
        <header>
            <h1>Web-Gobuster</h1>
        </header>
        <div>
            <input type="text" id="inputMessage" placeholder="Enter your web address" required>
            <button onclick="sendMessage()"> Enumerate</button>
            <button onclick="stopWebSocket()">Stop</button>

        </div>

        <div id="messages" class="output">

        </div>
        <script src="../static/js/script.js"></script>

    </div>


</main>
</body>
</html>